.slidebar-wrapper {
  width: 100%;
  /* background-color: #c7ecc5; */
}

.slidebar-wrapper .media-scroller {
  display: grid;
  grid-auto-flow: column;
  overscroll-behavior-inline: contain;
  width: 70%;
  max-width: 1400px;
  margin: 46px auto 0px auto;
  padding: 6px 0px;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin;
  -ms-overflow-style: auto;
  cursor: grab;
  /* scrollbar-width: none; */
  -ms-overflow-style: none;
  /* background-color: #daf3d9; */
  box-shadow: inset 10px 0 10px -10px rgba(0, 0, 0, 0.2),
    /* Left shadow */ inset -10px 0 10px -10px rgba(0, 0, 0, 0.2);

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.slidebar-wrapper .media-scroller::-webkit-scrollbar {
  height: 12px;
}

.slidebar-wrapper .media-scroller::-webkit-scrollbar-thumb {
  background-color: darkgray;
  border-radius: 10px;
}

.slidebar-wrapper .media-scroller::-webkit-scrollbar-track {
  background-color: lightgray;
}

@media (hover: none) and (pointer: coarse) {
  .slidebar-wrapper .media-scroller {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .slidebar-wrapper .media-scroller::-webkit-scrollbar {
    display: none;
  }
}

.slidebar-wrapper .media-scroller .media-element {
  /* padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center; */
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: visible; /* Ensure content is visible beyond the initial width */
  width: auto; /* Allow the div to expand based on content */
  min-width: 80px;
  /* background-color: #ff72bd; */
  margin: 0px 2px;
  transition: transform 0.3s ease;
  border-radius: 20%;
}

.slidebar-wrapper .media-scroller .media-element:hover {
  transform: scale(1.07);
  background-color: #d6bee3;
  z-index: 1000;
}

.slidebar-wrapper .media-scroller .media-element .image-unselect {
  width: 100px;
  height: 100px;
  /* transition: transform 0.3s ease; */
}
/* 
  .slidebar-wrapper .media-scroller .media-element .image-unselect:hover {
    transform: scale(1.24);
  } */

.slidebar-wrapper .media-scroller .media-element .list-items {
  font-family: "Kalam", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  color: rgb(48, 147, 67);
  padding: 0px 4px;
  width: 100%;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.slidebar-wrapper .media-scroller .media-element .input-checkbox {
  all: unset;
  border: 3px solid rgb(37, 145, 95);
  border-radius: 14%;
  width: 20px;
  height: 10px;
  cursor: pointer;
  position: relative;
}

.slidebar-wrapper .media-scroller .media-element .input-checkbox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: translate(-50%, -50%) rotate(45deg);
  display: none; /* Hide the checkmark */
}

.slidebar-wrapper .media-scroller .media-element .input-checkbox:checked {
  background-color: rgb(37, 145, 95); /* Full green when checked */
  border-color: rgb(37, 145, 95); /* Green border */
}

.slidebar-wrapper
  .media-scroller
  .media-element
  .input-checkbox:checked::before {
  display: none; /* Ensure the checkmark remains hidden */
}
